.material-symbols-outlined.icon {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 24;
  font-size: 78px;
}

.menu-btn{
    align-content:flex-start;
}

.menu-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
    z-index: 1001;
}

.flyoutmenu_e {
    position: fixed;
    left: 125px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    padding: 12px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    /*box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);*/
    z-index: 1000;
}

.flyoutmenu_e:not(.hidden) {
    display: flex;
}

.flyoutmenu_e.hidden {
    display: none;
    pointer-events: none;
}

.menu-image {
    width: 80px; 
    height: auto;
    display: block;
    align-content: flex-start;
    object-fit: contain;
    margin: 4px;
    transition: transform 0.12s ease, box-shadow 0.12s ease;
}


.palco {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f7f9fb;
  overflow: hidden;
  z-index: 1;
}

/* imagem do palco */
.stage-image {
  max-width: 80%;
  max-height: 80vh;
  object-fit: contain;
  pointer-events: none;
}



