.material-symbols-outlined.icon {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 24;
  font-size: 50px;
}

#stage{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: fit;
}

.palco {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f7f9fb;
  overflow: hidden;
  z-index: 1;
}

.inner-palco-top {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 50.5%;
    border: 2px solid #ccc; /* Optional border for visibility */
    background-color: rgba(255, 255, 255, 0.5); /* Optional background color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-palco-bottom {
    position: absolute;
    top: 49.5%;
    left: 5%;
    right: 5%;
    bottom: 5.5%;
    border: 2px solid #ccc; /* Optional border for visibility */
    background-color: rgba(255, 255, 255, 0.5); /* Optional background color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropzone {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
}

.outside-delete {
    position: absolute;
    top: 5%;
    left: 90%;
    right: 0%;
    bottom: 50.5%;
    border: 2px solid #ccc; /* Optional border for visibility */
    background-color: rgba(255, 0, 0, 0.5); /* Optional background color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.deletezone {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
}

.menu-btn{
  border-style: solid;
  border-width: 2px;
  border-color: #2d2d2a;
  border-radius: 0px 30px 30px 0px;
  align-content:flex-start;
  height: 75px;
  width: 75px;
}

.menu-btn.active {
    border-left-width: 0;
}

#lixo{
  border-style: solid;
  border-width: 2px;
  border-color: #2d2d2a;
  border-radius: 0px 30px 30px 0px;
  align-content:flex-start;
  height: 75px;
  width: 75px;

}

.principal_menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: start;
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
    z-index: 1001;
    align-items: center;
    transition: transform 1s ease-out; 
}

.menu-container.shifted {
    transform: translateY(-50%) translateX(300px);
}

.flyoutmenu_e {
    height: 411px;
    width: 300px;
    position: fixed;
    left: -300px;
    top: 50%;                
    transform: translateY(-50%);
    display: none;
    flex-wrap: wrap;
    z-index: 1000;
    border:solid;
    border-width: 2px 2px 2px 0;
    border-color: #2d2d2a;
    transition: transform 1s ease-out; 
    align-items: center; 
}

.flyoutmenu_e.active {
    display: flex; 
    transform: translateY(-50%) translateX(300px);
}

.menu-image { 
    height: 100px;
    width:auto;
    display: block;
    align-content: flex-start;
    object-fit: contain;
    margin: 4px;
}



#cenarios_menu{
  background-color: #9dcc93;
}

#cenarios{
  background-color: #9dcc93;
}

#personagens_menu{
  background-color: #e5a265;
}

#personagens{
  background-color: #e5a265;
}

#musica_menu{
  background-color: #dec0d5;
}

#musica{
  background-color: #dec0d5;
}

#objetos_menu{
  background-color: #9dc7ea;
}

#objetos{
  background-color: #9dc7ea;
}
